<a href="https://colab.research.google.com/github/yoonseo04128/202321060_homework/blob/main/database_project02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2. 반려동물 위한 앱

*   서비스 : 온라인 마트, 병원 탐색, 소통
*   타겟기능 : 병원 검색, 소통, 진료

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
%load_ext sql
%sql sqlite:///example.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
import prettytable
import sql
sql.displayoptions = {
    'style': 'PADDING'
}

**'게시글 작성'**


< 시나리오 >
1. 전체 : 현재 올라온 게시글들을 전부 보여줌
2. 분류 : 특정 게시판마다 글이 나눠짐
3. 삽입 : 회원이 게시글을 올리면 게시글 테이블에 정보가 들어감
4. 수정 : 회원은 게시글의 제목과 내용을 수정하면 테이블 정보가 수정됨
5. 삭제 : 회원은 자신이 작성했었던 글을 삭제하면 테이블에 있던 해당 글의 정보가 삭제됨

[ 게시글 테이블 생성 ]

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS posts (
    post_number INTEGER PRIMARY KEY,
    post_title TEXT NOT NULL,
    post_content TEXT NOT NULL,
    member_id TEXT NOT NULL,
    type TEXT NOT NULL
);

 * sqlite:///example.db
Done.

[]

In [ ]:
%%sql

INSERT INTO posts (post_number, post_title, post_content, member_id, type)
VALUES
(1930420, '안녕하세요', '이번에…', 'apple12', '전체'),
(1384291, '질문', '강아지가…', 'e2dfs57', '강아지'),
(1200349, '동물병원…', '휴일에...', '12nw1206', '전체'),
(1214291, '질문', '앵무새가…', 'wernnsdfs57', '새'),
(1229349, '동물병원…', '공휴일...', '23wnw1206', '전체'),
(1104291, '질문', '산책…', 'sdfs57', '강아지'),
(1129349, '동물병원…', '가격에...', 'dow206', '전체'),
(1939248, '고양이가…', '고양이가…', 'zdifgs39', '고양이');

 * sqlite:///example.db
8 rows affected.

[]

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

(1) 전체

In [ ]:
%sql SELECT * FROM posts;

 * sqlite:///example.db
Done.

[(1104291, '질문', '산책…', 'sdfs57', '강아지'),
 (1129349, '동물병원…', '가격에...', 'dow206', '전체'),
 (1200349, '동물병원…', '휴일에...', '12nw1206', '전체'),
 (1214291, '질문', '앵무새가…', 'wernnsdfs57', '새'),
 (1229349, '동물병원…', '공휴일...', '23wnw1206', '전체'),
 (1384291, '질문', '강아지가…', 'e2dfs57', '강아지'),
 (1930420, '안녕하세요', '이번에…', 'apple12', '전체'),
 (1939248, '고양이가…', '고양이가…', 'zdifgs39', '고양이')]

(2) 분류

In [ ]:
%%sql

SELECT *
FROM posts
WHERE type = '전체';

 * sqlite:///example.db
Done.

[(1129349, '동물병원…', '가격에...', 'dow206', '전체'),
 (1200349, '동물병원…', '휴일에...', '12nw1206', '전체'),
 (1229349, '동물병원…', '공휴일...', '23wnw1206', '전체'),
 (1930420, '안녕하세요', '이번에…', 'apple12', '전체')]

(3) 삽입

In [ ]:
%%sql

INSERT INTO posts (post_number, post_title, post_content, member_id, type)
VALUES
(2541292, '안녕하세요', '새로 왔어요!.', 'meow122', '고양이');

 * sqlite:///example.db
1 rows affected.

[]

(4) 수정

In [ ]:
%%sql

UPDATE posts
SET post_title = '새로운 제목'
WHERE post_number = 1930420;

 * sqlite:///example.db
1 rows affected.

[]

 { 수정 완료 }

In [ ]:
%sql SELECT * FROM posts WHERE post_number = 1930420;

 * sqlite:///example.db
Done.

[(1930420, '새로운 제목', '이번에…', 'apple12', '전체')]

(5) 삭제

In [ ]:
%sql DELETE FROM posts WHERE post_number = 1930420;

 * sqlite:///example.db
1 rows affected.

[]

 { 삭제 완료 }

In [ ]:
%sql SELECT * FROM posts WHERE post_number = 1930420;

 * sqlite:///example.db
Done.

[]

**'병원 검색'**


< 시나리오 >
1. 추천: 회원의 집 위체 주변 병원을 탐색하여 보여줌
2. 검색: 회원이 원하는 조건을 가진 병원을 검색할 수 있음

[ 병원 테이블 생성 ]

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS hospitals (
    hospital_name TEXT NOT NULL,
    representative_number TEXT NOT NULL,
    address TEXT NOT NULL,
    representative TEXT NOT NULL,
    specialty TEXT NOT NULL
);

 * sqlite:///example.db
Done.

[]

In [ ]:
%%sql

INSERT INTO hospitals (hospital_name, representative_number, address, representative, specialty)
VALUES
('차암동물병원', '02-1457-3592', '서울특별시 영등포구', '김하준', '견묘'),
('늘봄동물병원', '032-1842-5725', '인천광역시 부평구', '김유화', '조류'),
('나우동물의료센터', '051-3785-4998', '부산광역시 동래구', '이현준', '견묘'),
('차리동물병원', '02-1237-3592', '서울특별시 구로구', '이주환', '견'),
('봄동물병원', '032-1842-3225', '인천광역시 부평구', '유한슬', '파충류'),
('레이크동물의료센터', '02-7582-1058', '서울특별시 송파구', '박준영', '조류');

 * sqlite:///example.db
6 rows affected.

[]

(1) 추천 ( 지역 : 서울특별시 )

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%%sql
SELECT DISTINCT hospital_name, representative_number, address, representative
FROM hospitals
WHERE address LIKE '서울특별시%';

 * sqlite:///example.db
Done.

[('차암동물병원', '02-1457-3592', '서울특별시 영등포구', '김하준'),
 ('차리동물병원', '02-1237-3592', '서울특별시 구로구', '이주환'),
 ('레이크동물의료센터', '02-7582-1058', '서울특별시 송파구', '박준영')]

(2) 검색 (specialty = 조류인 곳)

In [ ]:
%%sql
SELECT DISTINCT hospital_name, representative_number, address, representative
FROM hospitals
WHERE specialty = '조류';

 * sqlite:///example.db
Done.

[('늘봄동물병원', '032-1842-5725', '인천광역시 부평구', '김유화'),
 ('레이크동물의료센터', '02-7582-1058', '서울특별시 송파구', '박준영')]

**'진료'**


< 시나리오 >
1. 삽입 : 수의사가 진료를 볼 시 모든 정보가 저장된다.
2. 수정 : 환자의 정보가 변경될 경우 진료 정보를 수정한다.

[ 환자 테이블 생성 ]

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS patients (
    pet_id TEXT PRIMARY KEY,
    pet_name TEXT NOT NULL,
    age INTEGER NOT NULL,
    gender TEXT NOT NULL,
    species TEXT NOT NULL,
    vet_id TEXT NOT NULL,
    room_number INTEGER NOT NULL,
    admission_date DATE NOT NULL,
    discharge_date DATE NOT NULL,
    treatment_id INTEGER NOT NULL,
    hospital TEXT NOT NULL,
    owner_id TEXT NOT NULL,
    treatment_date DATE NOT NULL
);

 * sqlite:///example.db
Done.

[]

In [ ]:
%%sql

INSERT INTO patients (pet_id, pet_name, age, gender, species, vet_id, room_number, admission_date, discharge_date, treatment_id, hospital, owner_id, treatment_date)
VALUES
('1023 - 129415', '츄츄', 1, '여', '햄스터 ( 골든 햄스터 )', '023-124853', 12, '2024-09-14', '2024-09-27', 179402, '차암동물병원', 'apple12', '2024-09-14'),
('2941 - 102423', '토리', 5, '남', '강아지 ( 말라뮤트 )', '392-129394', 8, '2024-10-01', '2024-10-03', 180294, '늘봄동물병원', 'einnsdfs57', '2024-10-01'),
('2104 - 129342', '사랑', 3, '여', '앵무새 ( 사랑 앵무 )', '024-192458', 2, '2024-09-02', '2024-09-18', 172832, '나우동물의료센터', 'downw1206', '2024-09-02'),
('4039 - 285739', '망고', 2, '남', '새 ( 카나리아 )', '789-456123', 3, '2024-11-05', '2024-11-20', 190485, '레이크동물의료센터', 'birdfan', '2024-11-05'),
('5092 - 384756', '마루', 6, '여', '고양이 ( 샴 )', '234-567891', 7, '2024-12-01', '2024-12-10', 195284, '늘봄동물병원', 'catlover', '2024-11-12'),
('2948 - 194712', '뭉치', 8, '남', '고양이 ( 러시안 블루 )', '023-238144', 10, '2024-09-08', '2024-09-30', 172983, '레이크동물의료센터', 'zdifgs39', '2024-09-08');

 * sqlite:///example.db
6 rows affected.

[]

(1) 삽입

In [ ]:
%%sql

INSERT INTO patients (pet_id, pet_name, age, gender, species, vet_id, room_number, admission_date, discharge_date, treatment_id, hospital, owner_id, treatment_date)
VALUES
('3057 - 295874', '코코', 4, '여', '강아지 ( 포메라니안 )', '183-412439', 5, '2024-10-10', '2024-10-15', 183294, '차암동물병원', 'doglover', '2024-10-10');

 * sqlite:///example.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM patients

 * sqlite:///example.db
Done.

[('1023 - 129415', '츄츄', 1, '여', '햄스터 ( 골든 햄스터 )', '023-124853', 12, '2024-09-14', '2024-09-27', 179402, '차암동물병원', 'apple12', '2024-09-14'),
 ('2941 - 102423', '토리', 5, '남', '강아지 ( 말라뮤트 )', '392-129394', 8, '2024-10-01', '2024-10-03', 180294, '늘봄동물병원', 'einnsdfs57', '2024-10-01'),
 ('2104 - 129342', '사랑', 3, '여', '앵무새 ( 사랑 앵무 )', '024-192458', 2, '2024-09-02', '2024-09-18', 172832, '나우동물의료센터', 'downw1206', '2024-09-02'),
 ('4039 - 285739', '망고', 2, '남', '새 ( 카나리아 )', '789-456123', 3, '2024-11-05', '2024-11-20', 190485, '레이크동물의료센터', 'birdfan', '2024-11-05'),
 ('5092 - 384756', '마루', 6, '여', '고양이 ( 샴 )', '234-567891', 7, '2024-12-01', '2024-12-10', 195284, '늘봄동물병원', 'catlover', '2024-11-12'),
 ('2948 - 194712', '뭉치', 8, '남', '고양이 ( 러시안 블루 )', '023-238144', 10, '2024-09-08', '2024-09-30', 172983, '레이크동물의료센터', 'zdifgs39', '2024-09-08'),
 ('3057 - 295874', '코코', 4, '여', '강아지 ( 포메라니안 )', '183-412439', 5, '2024-10-10', '2024-10-15', 183294, '차암동물병원', 'doglover', '2024-10-10')]

(2) 수정

In [ ]:
%sql UPDATE patients SET owner_id = 'neoewmoew12' WHERE pet_id = '023-238144';

 * sqlite:///example.db
0 rows affected.

[]