<a href="https://colab.research.google.com/github/yoonseo04128/202321060_homework/blob/main/database_project01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 쿠팡

*   서비스 : 온라인 마트
*   타겟기능 : 주문, 배송, 고객관리(상품 추천)

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
%load_ext sql
%sql sqlite:///example.db

In [ ]:
import prettytable
import sql
sql.displayoptions = {
    'style': 'PADDING'
}

**'주문'**


< 시나리오 >
1. 전체 : 모든 상품을 보여줌
2. 검색 : 회원이 찾는 상품을 보여줌
3. 삽입 : 회원이 주문한 상품이 주문 테이블에 삽입됨
4. 삭제 : 회원이 주문을 취소할 경우 주문 테이블에서 주문 상품이 삭제됨

[ 상품 테이블 생성 ]

In [ ]:
%%sql

CREATE TABLE products (
    product_number TEXT PRIMARY KEY,
    product_name TEXT NOT NULL,
    price REAL NOT NULL,
    stock INTEGER NOT NULL,
    discount_availability TEXT NOT NULL,
    popular_product TEXT NOT NULL,
    manufacturer_name TEXT NOT NULL,
    supply_quantity INTEGER NOT NULL,
    supply_date DATE NOT NULL
);

 * sqlite:///example.db
Done.

[]

In [ ]:
%%sql

INSERT INTO products (product_number, product_name, price, stock, discount_availability, popular_product, manufacturer_name, supply_quantity, supply_date)
VALUES
('1024-23951', '찰떡쿵파이', 5900, 23, 'o', '/', '한빛제과', 192, '2024-09-27'),
('2393-19234', '그냥만두', 7200, 9, '/', 'o', '농삼', 50, '2024-10-03'),
('2953-58638', '달콤 비스킷', 3000, 27, 'o', '/', '삼양주', 200, '2024-09-18'),
('0258-41093', '리코타 치즈', 9800, 11, '/', '/', '삼양주', 100, '2024-09-30'),
('3253-58631', '옷걸이', 9500, 40, 'o', '/', '두삼', 300, '2024-09-12'),
('0258-46893', '오뚜 컵밥', 12800, 31, 'o', 'o', '농삼', 80, '2024-09-01');

 * sqlite:///example.db
6 rows affected.

[]

[ 주문 테이블 생성 ]

In [ ]:
%%sql

CREATE TABLE orders (
    member_id TEXT NOT NULL,
    product_number TEXT NOT NULL,
    order_number TEXT PRIMARY KEY,
    delivery_address TEXT NOT NULL,
    order_quantity INTEGER NOT NULL,
    order_date DATE NOT NULL,
    FOREIGN KEY (product_number) REFERENCES products (product_number)
);

 * sqlite:///example.db
Done.

[]

In [ ]:
%%sql

INSERT INTO orders (member_id, product_number, order_number, delivery_address, order_quantity, order_date)
VALUES
('apple12', '1024-23951', '2101-12421', '서울시 마포구', 1, '2024-09-14'),
('einnsdfs57', '2393-19234', '1232-18294', '인천시 계양구', 1, '2024-10-01'),
('downw1206', '1024-23951', '2921-12830', '경기도 부천시', 1, '2024-09-02'),
('einnsdfs57', '0258-46893', '1293-18294', '인천시 계양구', 1, '2024-10-01'),
('downw1206', '2953-58638', '2931-12830', '경기도 부천시', 1, '2024-09-02'),
('zdifgs39', '0258-41093', '3291-18293', '부산시 금정구', 4, '2024-09-08');

 * sqlite:///example.db
6 rows affected.

[]

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

(1) 전체

In [ ]:
%sql SELECT * FROM orders;

 * sqlite:///example.db
Done.

[('apple12', '1024-23951', '2101-12421', '서울시 마포구', 1, '2024-09-14'),
 ('einnsdfs57', '2393-19234', '1232-18294', '인천시 계양구', 1, '2024-10-01'),
 ('downw1206', '1024-23951', '2921-12830', '경기도 부천시', 1, '2024-09-02'),
 ('einnsdfs57', '0258-46893', '1293-18294', '인천시 계양구', 1, '2024-10-01'),
 ('downw1206', '2953-58638', '2931-12830', '경기도 부천시', 1, '2024-09-02'),
 ('zdifgs39', '0258-41093', '3291-18293', '부산시 금정구', 4, '2024-09-08')]

(2) 검색

In [ ]:
%sql SELECT * FROM products WHERE product_name = '오뚜 컵밥';

 * sqlite:///example.db
Done.

[('0258-46893', '오뚜 컵밥', 12800.0, 31, 'o', 'o', '농삼', 80, '2024-09-01')]

(3) 삽입

In [ ]:
%%sql

INSERT INTO orders (member_id, product_number, order_number, delivery_address, order_quantity, order_date)
VALUES
('nnwowq133', '0258-41093', '4751-22432', '대전광역시 서구', 2, '2024-11-03');

 * sqlite:///example.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM orders;

 * sqlite:///example.db
Done.

[('apple12', '1024-23951', '2101-12421', '서울시 마포구', 1, '2024-09-14'),
 ('einnsdfs57', '2393-19234', '1232-18294', '인천시 계양구', 1, '2024-10-01'),
 ('downw1206', '1024-23951', '2921-12830', '경기도 부천시', 1, '2024-09-02'),
 ('einnsdfs57', '0258-46893', '1293-18294', '인천시 계양구', 1, '2024-10-01'),
 ('downw1206', '2953-58638', '2931-12830', '경기도 부천시', 1, '2024-09-02'),
 ('zdifgs39', '0258-41093', '3291-18293', '부산시 금정구', 4, '2024-09-08'),
 ('nnwowq133', '0258-41093', '4751-22432', '대전광역시 서구', 2, '2024-11-03')]

(4) 삭제

In [ ]:
%sql DELETE FROM orders WHERE order_number = '2101-12421';

 * sqlite:///example.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM orders;

 * sqlite:///example.db
Done.

[('einnsdfs57', '2393-19234', '1232-18294', '인천시 계양구', 1, '2024-10-01'),
 ('downw1206', '1024-23951', '2921-12830', '경기도 부천시', 1, '2024-09-02'),
 ('einnsdfs57', '0258-46893', '1293-18294', '인천시 계양구', 1, '2024-10-01'),
 ('downw1206', '2953-58638', '2931-12830', '경기도 부천시', 1, '2024-09-02'),
 ('zdifgs39', '0258-41093', '3291-18293', '부산시 금정구', 4, '2024-09-08'),
 ('nnwowq133', '0258-41093', '4751-22432', '대전광역시 서구', 2, '2024-11-03')]

**'배송관리'**


< 시나리오 >
1. 분류 : 주문이 들어온 상품을 지역별로 정리함
2. 검색 : 특정 배달원의 배송 상품과 지역 검색
3. 수정 : 배송 지역이 변경될 시 상품의 배송 지역을 수정함
4. 삭제 : 주문이 취소될 경우 그 상품의 정보가 전부 삭제됨

[ 배송 테이블 생성 ]

In [ ]:
%sql drop table delivery;

 * sqlite:///example.db
Done.

[]

In [ ]:
%%sql

CREATE TABLE delivery (
    order_number TEXT PRIMARY KEY,
    delivery_id TEXT NOT NULL,
    delivery_name TEXT NOT NULL,
    phone_number TEXT NOT NULL,
    delivery_address TEXT NOT NULL,
    truck_number TEXT NOT NULL,
    manager_id TEXT NOT NULL
);

 * sqlite:///example.db
Done.

[]

In [ ]:
%%sql

INSERT INTO delivery (delivery_id, delivery_name, phone_number, delivery_address, truck_number, manager_id, order_number)
VALUES
('938-348592', '현주환', '010-3852-5783', '서울시 마포구', '824로 2972', '023-124853', '2101-12421'),
('903-282842', '김아훈', '010-2952-9784', '인천시 계양구', '295가 0148', '392-129394', '1293-18294'),
('912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458', '2921-12830'),
('924-156823', '박서준', '010-4852-1296', '부산시 금정구', '925로 9124', '023-238144', '3291-18293'),
('912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458', '2931-12830'),
('903-282842', '김아훈', '010-2952-9784', '인천시 계양구', '295가 0148', '392-129394', '1232-18294');

 * sqlite:///example.db
6 rows affected.

[]

(1) 분류

In [ ]:
%sql SELECT * FROM delivery WHERE delivery_address LIKE '경기도%';

 * sqlite:///example.db
Done.

[('2921-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458'),
 ('2931-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458')]

(2) 검색

In [ ]:
%sql SELECT * FROM delivery WHERE delivery_id LIKE '912-357235';

 * sqlite:///example.db
Done.

[('2921-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458'),
 ('2931-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458')]

(3) 수정

In [ ]:
%%sql
UPDATE delivery
SET delivery_address = '서울시 종로구',
    delivery_id = '938-3485921',
    delivery_name = '현주환',
    phone_number = '010-3852-5783',
    truck_number = '824로 2972'
WHERE order_number = '3291-18293';

 * sqlite:///example.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM delivery;

 * sqlite:///example.db
Done.

[('2101-12421', '938-348592', '현주환', '010-3852-5783', '서울시 마포구', '824로 2972', '023-124853'),
 ('1293-18294', '903-282842', '김아훈', '010-2952-9784', '인천시 계양구', '295가 0148', '392-129394'),
 ('2921-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458'),
 ('3291-18293', '938-3485921', '현주환', '010-3852-5783', '서울시 종로구', '824로 2972', '023-238144'),
 ('2931-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458'),
 ('1232-18294', '903-282842', '김아훈', '010-2952-9784', '인천시 계양구', '295가 0148', '392-129394')]

(4) 삭제

In [ ]:
%sql DELETE FROM delivery WHERE order_number = '1293-18294';

 * sqlite:///example.db
1 rows affected.

[]

In [ ]:
%sql SELECT * FROM delivery;

 * sqlite:///example.db
Done.

[('2101-12421', '938-348592', '현주환', '010-3852-5783', '서울시 마포구', '824로 2972', '023-124853'),
 ('2921-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458'),
 ('3291-18293', '938-3485921', '현주환', '010-3852-5783', '서울시 종로구', '824로 2972', '023-238144'),
 ('2931-12830', '912-357235', '이연준', '010-5823-7785', '경기도 부천시', '194마 1847', '024-192458'),
 ('1232-18294', '903-282842', '김아훈', '010-2952-9784', '인천시 계양구', '295가 0148', '392-129394')]

**'고객관리'**


< 시나리오 >
1. 검색 : 특정 회원이 주문한 물품을 보여줌
2. 추천 : 회원이 주문한 상품들과 같은 회사 제품을 랜덤으로 추천함

[ 고객 테이블 생성 ]

(1) 검색

In [ ]:
%sql SELECT * FROM orders WHERE member_id = 'downw1206';

 * sqlite:///example.db
Done.

[('downw1206', '1024-23951', '2921-12830', '경기도 부천시', 1, '2024-09-02'),
 ('downw1206', '2953-58638', '2931-12830', '경기도 부천시', 1, '2024-09-02')]

(2) 추천

In [ ]:
%%sql

SELECT p.product_name, p.price
FROM products p
JOIN ( SELECT DISTINCT pr.manufacturer_name
      FROM orders o
      JOIN products pr ON o.product_number = pr.product_number
      WHERE o.member_id = 'zdifgs39'
    ) AS ordered_manufacturers ON p.manufacturer_name = ordered_manufacturers.manufacturer_name
ORDER BY RANDOM();

 * sqlite:///example.db
Done.

[('달콤 비스킷', 3000.0), ('리코타 치즈', 9800.0)]